In [21]:
import pandas as pd 

df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'Handedness': ['Right-handed', 'Left-handed', 'Right-handed', 'Right-handed', 'Left-handed']
})
df_crosstab = pd.crosstab(df['Gender'], df['Handedness'], margins=True, index='Gender')#, columns='Handedness')
print(df_crosstab)
# df

Handedness  Left-handed  Right-handed  All
Gender
Female                1             1    2
Male                  1             2    3
All                   2             3    5

In [11]:
# importing packages
import pandas
import numpy

# creating some data
a = numpy.array(["foo", "foo", "foo", "foo",
                 "bar", "bar", "bar", "bar",
                 "foo", "foo", "foo"],
                dtype=object)

b = numpy.array(["one", "one", "one", "two",
                 "one", "one", "one", "two",
                 "two", "two", "one"],
                dtype=object)

c = numpy.array(["dull", "dull", "shiny",
                 "dull", "dull", "shiny",
                 "shiny", "dull", "shiny",
                 "shiny", "shiny"],
                dtype=object)

# form the cross tab
pandas.crosstab(a, [b, c], rownames=['d'], colnames=['b', 'c'])
# pandas.crosstab(a, [b, c])

b    one        two
c   dull shiny dull shiny
d
bar    1     2    1     0
foo    2     2    1     2

In [14]:
# importing package
import pandas

# create some data
foo = pandas.Categorical(['a', 'b'], 
                         categories=['a', 'b', 'c'])

bar = pandas.Categorical(['d', 'e'], 
                         categories=['d', 'e', 'f'])

# form crosstab with dropna=True (default)
print(pandas.crosstab(foo, bar))

# form crosstab with dropna=False
print(pandas.crosstab(foo, bar, dropna=False))

col_0  d  e
row_0
a      1  0
b      0  1
col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0