In [1]:
import pandas as pd
import numpy as np
data = {
    'Date' : ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'Category' : ['A', 'B', 'A', 'B', 'A'],
    'Sales' : [100, 150, 200, 120, 180],
    'Quantity' : [5, 8, 10, 6, 9]
}
df = pd.DataFrame(data)
df.query('Sales == 150', inplace=True)
df

         Date Category  Sales  Quantity
1  2023-01-02        B    150         8

In [2]:
import pandas as pd
import numpy as np
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data)
df.query('A >= 2 and B < 40', inplace=True)
df

   A   B    C
1  2  20  200
2  3  30  300