In [5]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before adding new row:")
df = pd.DataFrame(data)
print(df)

# new__row = pd.DataFrame({
#     'name': ['Eve', 'David', 'Bob'], 
#     'age': [28, 29, 30],
#     'gender': ['female', 'male','male']
#     })

new__row = pd.DataFrame([
    {'name': 'Eve', 'age': 28, 'gender': 'female'},
    {'name': 'David', 'age': 29, 'gender':'male'},
    {'name': 'Bob', 'age': 30, 'gender':'male'}
])
df = pd.concat([df, new__row], ignore_index=True)

print("\nAfter adding new row:")
print(df)

Before adding new row:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male

After adding new row:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
4      Eve   28  female
5    David   29    male
6      Bob   30    male

In [7]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before rename:")
df = pd.DataFrame(data)
print(df)
new__row = {'name': 'eve', 'age': 24, 'gender': 'female'}

df.loc[len(df)] = new__row
df = df.rename(columns={'name': 'First Name'})

print("After rename:")
print(df)

Before rename:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
After rename:
  First Name  age  gender
0      alice   20    male
1        bob   21    male
2    charlie   22  female
3       dave   23    male
4        eve   24  female

In [23]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before rename:")
df = pd.DataFrame(data)
print(df)
new__row = {'name': 'eve', 'age': 24, 'gender': 'female'}

df.loc[len(df)] = new__row
df = df.rename(columns={'name': 'First Name', 'age': 'Student Age', 'gender': 'Student Gender'})

print("After rename:")
print(df)

Before rename:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
After rename:
  First Name  Student Age Student Gender
0      alice           20           male
1        bob           21           male
2    charlie           22         female
3       dave           23           male
4        eve           24         female

In [14]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before addition of elements:")
df = pd.DataFrame(data)
print(df)
new__row = {'name': 'eve', 'age': 24, 'gender': 'female'}

df.loc[len(df)] = new__row
print("After addition of elements:")
print(df)

Before addition of elements:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
After addition of elements:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
4      eve   24  female

In [19]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before addition of elements:")
df = pd.DataFrame(data)
print(df)
new__row = {'name': 'eve', 'age': 24, 'gender': 'female'}

print("1 column display")
print(df.loc[1])

# print in lower case
df.columns = df.columns.str.lower()
print(df, "\n")

df.loc[1] = {'name': 'sanjay'}
print(df)

Before addition of elements:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
1 column display
name       bob
age         21
gender    male
Name: 1, dtype: object
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male

      name   age  gender
0    alice  20.0    male
1   sanjay   NaN     NaN
2  charlie  22.0  female
3     dave  23.0    male

In [22]:
import pandas as pd

fruit_data = {
    'fruit': ['apple', 'banana', 'cherry', 'apple', 'banana'],
    'color': ['red', 'yellow', 'purple', 'green', 'yellow'],
    'price': [45, 50, 20, 30, 25]
}

data = pd.DataFrame(fruit_data) 
print("original data")
print(data)

data.loc[data['price'] > 30, 'remarks'] = 'Expensive'
data.loc[data['price'] <= 30,'remarks'] = 'Cheap'
print("\ndata after adding remarks")
print(data)

original data
    fruit   color  price
0   apple     red     45
1  banana  yellow     50
2  cherry  purple     20
3   apple   green     30
4  banana  yellow     25
1

data after adding remarks
    fruit   color  price    remarks
0   apple     red     45  Expensive
1  banana  yellow     50  Expensive
2  cherry  purple     20      Cheap
3   apple   green     30      Cheap
4  banana  yellow     25      Cheap

In [24]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before deletion:")
df = pd.DataFrame(data)
print(df)

element_to_delete = "charlie"

df = df.loc[df.name != element_to_delete]
print("After deletion:")
print(df)

Before deletion:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
After deletion:
    name  age gender
0  alice   20   male
1    bob   21   male
3   dave   23   male

In [28]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"],
    'photo' : ["img1", "img2", "img3", "img4"]
}

print("Before deletion of photo column:")
df = pd.DataFrame(data)
print(df)

df = df.drop('photo', axis=1)
print("After deletion of photo column:")
print(df)

Before deletion of photo column:
      name  age  gender photo
0    alice   20    male  img1
1      bob   21    male  img2
2  charlie   22  female  img3
3     dave   23    male  img4
After deletion of photo column:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male

In [29]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"],
    'photo' : ["img1", "img2", "img3", "img4"]
}

print("Before deletion of rows:")
df = pd.DataFrame(data)
print(df)

df = df[df.photo != "img2"] 
print("After deletion of rows:")
print(df)

Before deletion of rows:
      name  age  gender photo
0    alice   20    male  img1
1      bob   21    male  img2
2  charlie   22  female  img3
3     dave   23    male  img4
After deletion of rows:
      name  age  gender photo
0    alice   20    male  img1
2  charlie   22  female  img3
3     dave   23    male  img4

In [38]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"],
    'photo' : ["img1", "img2", "img3", "img4"]
}

print("Before deletion of column:")
df = pd.DataFrame(data)
print(df)

df.pop('age')
del df['gender']
print("\nAfter deletion of column:")
print(df)

Before deletion of column:
      name  age  gender photo
0    alice   20    male  img1
1      bob   21    male  img2
2  charlie   22  female  img3
3     dave   23    male  img4

After deletion of column:
      name photo
0    alice  img1
1      bob  img2
2  charlie  img3
3     dave  img4

In [33]:
import pandas as pd

data = {'a': [1, 2, 3], 'b': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)
df['sum'] = df['a'] + df['b']   
print(df)
df['sub'] = df['a'] - df['b']
print(df)
df['mul'] = df['a'] * df['b']
print(df)

   a  b
0  1  4
1  2  5
2  3  6
   a  b  sum
0  1  4    5
1  2  5    7
2  3  6    9
   a  b  sum  sub
0  1  4    5   -3
1  2  5    7   -3
2  3  6    9   -3
   a  b  sum  sub  mul
0  1  4    5   -3    4
1  2  5    7   -3   10
2  3  6    9   -3   18

In [34]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"],
    'photo' : ["img1", "img2", "img3", "img4"]
}

print("Before customization:")
df = pd.DataFrame(data)
print(df)

print("After customization:")
print(df[["name", "age", "gender"]])

Before customization:
      name  age  gender photo
0    alice   20    male  img1
1      bob   21    male  img2
2  charlie   22  female  img3
3     dave   23    male  img4
After customization:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male

In [42]:
import pandas as pd

data = {
    'name' : ["alice", "bob", "charlie", "dave"],
    'age' : [20, 21, 22, 23],
    'gender' : ["male", "male", "female", "male"]
}

print("Before addition of elements:")
df = pd.DataFrame(data)
print(df)

new__row = pd.DataFrame([
    {'name' : "eve", 'age' : 24, 'gender' : "female"},
    {'name' : "frank", 'age' : 25, 'gender' : "male"},
    {'name' : "grace", 'age' : 26, 'gender' : "female"}
])

df = pd.concat([df.iloc[:1], new__row, df.iloc[1:]]).reset_index(drop=True)

print("After addition of elements:")
print(df)

Before addition of elements:
      name  age  gender
0    alice   20    male
1      bob   21    male
2  charlie   22  female
3     dave   23    male
After addition of elements:
      name  age  gender
0    alice   20    male
1      eve   24  female
2    frank   25    male
3    grace   26  female
4      bob   21    male
5  charlie   22  female
6     dave   23    male