In [8]:
import mysql.connector as my

df=my.connect(
    host="localhost",
    user="root",
    password="vdpwezweb4",
    port=3306,
   database='Anudip_Internship'
)
cr=df.cursor()

b=True
while b:
    cho=input("press i for insert\n press u for update \n press f for fetch \n press e for exit ")

    if cho=="i":
        name=input("Enter your name : ")
        age=int(input("Enter your age : "))
        city=input("Enter your city : ")
        data=[name,age,city]
        sql="insert into employees(name,age,city) values(%s,%s,%s)"
        cr.execute(sql,data)
        df.commit()
        print("Data inserted ")
    if cho=="u":
        id=int(input("Enter your id : "))
        name=input("Enter your name : ")
        age=int(input("Enter your age : "))
        data=[name,age,id]
        sql="update employees set name=%s,age=%s where id=%s"
        cr.execute(sql,data)
        df.commit()
        print("Data Updated ")
    if cho=="f":
        cr.execute("select * from employees")
        data=cr.fetchall()
        for raw in data:
            print(raw)
    if cho=="e":
        b=False

df.close()

Data inserted

In [7]:
import mysql.connector as my
df=my.connect(
  host="localhost",
  user="root",
  password="vdpwezweb4",
  port=3306,
  database='Anudip_Internship'
)
cr=df.cursor()
sql="create table employees(name varchar(20),age int,city varchar(20))"
cr.execute(sql)
df.commit()